<div class="main-container">
    <div class="courses-container">
        <h1>I MIEI CORSI</h1>
        <div class="courses-card">
            <p>qui mettere info corsi dello studente</p>
        </div>
    </div>

    <div class="labs-container">
        <h1>I MIEI LABORATORI</h1>
        <div class="labs-card">
            <p>qui mettere info corsi dello studente</p>
        </div>
    </div>

    <div class="exams-container">
        <h1>I MIEI ESAMI</h1>
        <div class="exams-card">
            <p>qui mettere info corsi dello studente</p>
        </div>
    </div>
</div>