<div class="main-container">
    <div class="intro">
        <h1>PIANO CARRIERA</h1>
        <p>Costruisci il tuo piano carriera aggiungendo corsi e laboratori</p>
    </div>
    <div class="courses-container">
        <h2>Corsi</h2>
        <table>
            <thead>
                <tr>
                    <th scope="col">Codice</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Data Inizio</th>
                    <th scope="col">Data Fine</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cs of courses">
                    <td>{{cs.courseId}}</td>
                    <td>{{cs.name}}</td>
                    <td>{{cs.startDate}}</td>
                    <td>{{cs.endDate}}</td>
                    <td><button class="formBtn" (click)="AddCourseToPlan(cs.courseId)">Aggiungi</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="labs-container">
        <h2>Laboratori</h2>
        <table>
            <thead>
                <tr>
                    <th scope="col">Codice</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Frequenza</th>
                    <th scope="col">Data Inizio</th>
                    <th scope="col">Data Fine</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lab of labs">
                    <td>{{lab.labId}}</td>
                    <td>{{lab.name}}</td>
                    <td>{{lab.attendance ? 'Obbligatoria' : 'Facoltativa'}}</td>
                    <td>{{lab.startDate}}</td>
                    <td>{{lab.endDate}}</td>
                    <td><button class="formBtn" (click)="AddLabToPlan(lab.labId)">Aggiungi</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>