<div class="main-container">
    <div class="intro">
        <h1>Appelli disponibili</h1>
        <p>Iscriviti agli esami disponibili</p>
    </div>
    <div class="exam-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Codice</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CFU</th>
                    <th scope="col">Tipologia</th>
                    <th scope="col">Corso di appartenenza</th>
                    <th scope="col">Professore</th>
                    <th scope="col">Data</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let ex of exams">
                    <th>{{ex.examId}}</th>
                    <th>{{ex.name}}</th>
                    <th>{{ex.cfu}}</th>
                    <th>{{ex.type}}</th>
                    <th>{{ex.courseId}}</th>
                    <th>{{ex.ProfessorSurname}}</th>
                    <th>{{ex.date}}</th>
                    <th><button (click)="RegisterToExam(ex.examId)">aggiungi</button></th>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="exams-list">
        <h2>I tuoi esami</h2>
    </div>
</div>

