* {
  padding: 0;
}

.logo-container{
  max-height: 100px;
}

/*  Menu */
.menu-container {
  background-color:var(--primary-color);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar-nav {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  margin: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 22px;
}

.nav-link {
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.nav-item:hover {
  border-bottom: 5px solid var(--secondary-color);
}
/* Hamburger */
.navbar-toggler {
  border: none;
  background: transparent;
  color: white;
}

/* Pulsanti */

.loginBtn, .profileBtn {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 6px 12px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 7px;
  transition: 0.3s ease;
}

.loginBtn:hover, .profileBtn:hover {
  background-color: var(--secondary-color);
  border-color:var(--tertiary-color)
}