<div class="main-container">
    <img src="/assets/campus-uni.jpg" class="uni-img" alt="BetaUni campus">
    <div class="about-container">
        <h1>CHI SIAMO</h1>

        <p><strong>BetaUni</strong> è un’università dinamica e in continua crescita, nata con l’obiettivo di formare le
            nuove generazioni
            in un contesto accademico moderno, inclusivo e orientato all’innovazione.
        </p>

        <p>
            Con sede nel cuore della città di <strong>Torino</strong>,
            BetaUni è un punto di riferimento per studenti italiani e internazionali che cercano un percorso formativo
            solido,
            multidisciplinare e al passo con le sfide del mondo contemporaneo.
        </p>

        <p>
            Il <strong>campus</strong> di BetaUni si sviluppa su un’area moderna e funzionale, dotata di aule
            attrezzate, biblioteche
            digitali, laboratori all’avanguardia e spazi dedicati allo studio, all’incontro e alla creatività.
        </p>
    </div>
</div>

<div class="sub-container">
    <h2>Qualche dato su di noi:</h2>

    <div class="stats-container">
        <div class="stat">
            <div class="icon-circle">
                <i class="bi bi-graph-up-arrow"></i>
            </div>
            <p>Oltre 8.200 studenti iscritti nel 2024</p>
        </div>
        <div class="stat">
            <div class="icon-circle">
                <i class="bi bi-globe-americas"></i>
            </div>
            <p>Studenti provenienti da 17 Paesi diversi</p>
        </div>
        <div class="stat">
            <div class="icon-circle">
                <i class="bi bi-briefcase-fill"></i>
            </div>
            <p>Il 93% dei laureati trova lavoro entro 12 mesi dalla laurea </p>
        </div>
        <div class="stat">
            <div class="icon-circle">
                <i class="bi bi-people-fill"></i>
            </div>
            <p>Più di 120 partnership attive con aziende e istituzioni pubbliche</p>
        </div>
    </div>
</div>