<div class="all-container">
    <div class="main-container">
        <div class="title">
            <h1>OFFERTA FORMATIVA</h1>
        </div>
        <div class="main-infos">
            <p>
                L’Università <strong>BetaUni</strong> propone un’offerta formativa articolata e multidisciplinare,
                pensata
                per rispondere
                alle esigenze del mondo contemporaneo e per fornire agli studenti gli strumenti necessari ad affrontare
                con
                competenza e consapevolezza le sfide del futuro.
            </p>
            <p>
                L’Ateneo è strutturato in <strong>cinque facoltà</strong>, ciascuna delle quali propone percorsi di
                studio
                aggiornati, in
                linea con gli standard accademici nazionali e internazionali, e fortemente orientati all’inserimento nel
                mondo del lavoro.
            </p>
        </div>
    </div>

    <div class="dep-container">
        <h2>Le nostre facoltà</h2>
        <div class="dep-card" [routerLink]="['/dep-details', 'A100']">
            <img src="/assets/computer-science.jpg" class="card-img" alt="Computer Science">
            <div class="dep-infos">
                <h3>Informatica</h3>
                <p>Una facoltà orientata alla formazione di esperti in tecnologie digitali, sviluppo software e
                    intelligenza
                    artificiale.
                    Troverai corsi focalizzati su programmazione, ingegneria del software, intelligenza artificiale,
                    sicurezza
                    informatica e nuove tecnologie.
                </p>
            </div>
        </div>
        <div class="dep-card" [routerLink]="['/dep-details', 'A400']">
            <img src="/assets/economy.jpg" class="card-img" alt="Economy">
            <div class="dep-infos">
                <h3>Economia</h3>
                <p>Una facoltà con percorsi che preparano figure professionali capaci di operare nei mercati globali e
                    nella
                    gestione aziendale.
                    Formazione specializzata in economia aziendale, finanza, marketing e politiche economiche globali.
                </p>
            </div>
        </div>
        <div class="dep-card" [routerLink]="['/dep-details', 'A300']">
            <img src="/assets/law-school.jpg" class="card-img" alt="Law School">
            <div class="dep-infos">
                <h3>Giurisprudenza</h3>
                <p>Una facoltà dedicata allo studio del diritto nei suoi aspetti teorici e applicativi, in ambito
                    nazionale
                    ed
                    europeo. Caratterizzata da percorsi incentrati sul diritto pubblico e privato, con particolare
                    attenzione
                    alla dimensione europea e internazionale</p>
            </div>
        </div>
        <div class="dep-card" [routerLink]="['/dep-details', 'A200']">
            <img src="/assets/communication.png" class="card-img" alt="Communication">
            <div class="dep-infos">
                <h3>Scienze della comunicazione</h3>
                <p>Una facoltà focalizzata sull’analisi e la progettazione dei processi comunicativi nei media e nelle
                    organizzazioni.
                    Avrai il modo di seguire corsi su media, giornalismo, comunicazione digitale, pubblicità e relazioni
                    pubbliche.
                </p>
            </div>
        </div>
        <div class="dep-card" [routerLink]="['/dep-details', 'A400']">
            <img src="/assets/languages.png" class="card-img" alt="Languages">
            <div class="dep-infos">
                <h3>Lingue e letterature straniere</h3>
                <p>Una facoltà rivolta allo studio delle lingue moderne e dei contesti culturali internazionali.
                    Potrai approfondire gli studi sulle lingue moderne, la traduzione, le culture europee ed
                    extraeuropee.
                </p>
            </div>
        </div>
    </div>
</div>