<h1> Benvenuti su BetaUni, l’Università del Futuro</h1>
<p>BetaUni è un Ateneo moderno e dinamico, con un’offerta formativa articolata in cinque facoltà.
    <br>
    Esplora i nostri corsi, scopri i nostri valori e inizia oggi il tuo percorso accademico.
</p>

<div class="department-section">
    <h2 class="section-title">Scegli il tuo percorso, inizia da qui</h2>
    <p>Scopri i percorsi formativi offerti dal nostro Ateneo per costruire il tuo futuro accademico e professionale.</p>

    <div class="card-group">
        <div class="wrapper">
            <div class="image-card">
                <img src="/assets/computer-science.jpg" class="card-img" alt="Computer Science">
                <div class="text-overlay">
                    <h3>Informatica</h3>
                    <p>Esplora corsi di programmazione, data science e AI.</p>
                </div>
            </div>

            <div class="image-card">
                <img src="/assets/economy.jpg" class="card-img" alt="Economy">
                <div class="text-overlay">
                    <h3>Economia</h3>
                    <p>Scopri i principi dell'economia, finanza, e mercati globali</p>
                </div>
            </div>

            <div class="image-card">
                <img src="/assets/law-school.jpg" class="card-img" alt="Law School">
                <div class="text-overlay">
                    <h3>Giurisprudenza</h3>
                    <p>Approfondisci gli studi giuridici e la legge internazionale.</p>
                </div>
            </div>

            <div class="image-card">
                <img src="/assets/communication.png" class="card-img" alt="Communication">
                <div class="text-overlay">
                    <h3>Scienze della comunicazione</h3>
                    <p>Studia media, pubblicità e linguaggi contemporanei.</p>
                </div>
            </div>

            <div class="image-card">
                <img src="/assets/languages.png" class="card-img" alt="Languages">
                <div class="text-overlay">
                    <h3>Lingue e letterature straniere</h3>
                    <p>Impara nuove lingue e scopri nuove culture lontane.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->