<div class="main-container">
    <div class="courses-container">
        <h1>I MIEI CORSI</h1>
        <div class="courses-list">
            <div class="courses-card" *ngFor="let cs of courses">
                <p><strong>Codice corso:</strong> {{cs.courseId}} </p>
                <p><strong>Nome:</strong> {{cs.name}} </p>
                <p><strong>Data inizio:</strong> {{cs.startDate}} </p>
                <p><strong>Data fine:</strong> {{cs.endDate}} </p>
                <p><strong>Aula:</strong> {{cs.classrooms || "Aula non assegnata"}} </p>
                <p><strong>Docente:</strong> {{cs.profFullName || "Docente non assegnato"}} </p>
            </div>
        </div>
    </div>

    <div class="labs-container">
        <h1>I MIEI LABORATORI</h1>
        <div class="labs-list">
            <div class="labs-card" *ngFor="let lab of labs">
                <p><strong>Codice laboratorio:</strong> {{lab.labId}} </p>
                <p><strong>Nome:</strong> {{lab.name}} </p>
                <p><strong>Frequenza:</strong> {{lab.attendance ? 'Obbligatoria' : 'Facoltativa'}} </p>
                <p><strong>Data inizio:</strong> {{lab.startDate}} </p>
                <p><strong>Data fine:</strong> {{lab.endDate}} </p>
                <p><strong>Aula:</strong> {{lab.classrooms || "Aula non assegnata"}} </p>
                <p><strong>Docente:</strong> {{lab.profFullName || "Docente non assegnato"}} </p>
            </div>
        </div>
    </div>
</div>

