<div class="main-container">
    <div class="intro">
        <h1>Appelli disponibili</h1>
        <p>Iscriviti agli esami disponibili</p>
    </div>
    <div class="exam-container">
        <table>
            <thead>
                <tr>
                    <th scope="col">Codice</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CFU</th>
                    <th scope="col">Tipologia</th>
                    <th scope="col">Corso di appartenenza</th>
                    <th scope="col">Professore</th>
                    <th scope="col">Data</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ex of exams">
                    <td>{{ex.examId}}</td>
                    <td>{{ex.name}}</td>
                    <td>{{ex.cfu}}</td>
                    <td>{{ex.type}}</td>
                    <td>{{ex.courseId}}</td>
                    <td>{{ex.professorSurname}}</td>
                    <td>{{ex.date}}</td>
                    <td><button class="formBtn" (click)="RegisterToExam(ex.examId)">Iscriviti</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="sub-container">
        <h2>I miei esami</h2>
        <div class="exams-list">
            <div class="exam-card" *ngFor="let ex of exams">
                <p><strong>Nome:</strong> {{ex.name}}</p>
                <p><strong>CFU:</strong> {{ex.cfu}}</p>
                <p><strong>Tipologia:</strong> {{ex.type}}</p>
                <p><strong>Corso:</strong> {{ex.courseId}}</p>
                <p><strong>Professore:</strong> {{ex.professorSurname}}</p>
                <p><strong>Data:</strong> {{ex.date}}</p>
            </div>
        </div>
    </div>
</div>